@{
    ViewData["Title"] = "Home Page";
}


<div class="tm-section-2">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="tm-section-title">We are here to help you book your apartment !</h2>
                <p class="tm-color-white tm-section-subtitle">Start Now</p>
                <a href="/Apartments" class="tm-color-white tm-btn-white-bordered">Find Apartment</a>
            </div>
        </div>
    </div>
</div>
<div class="tm-section tm-position-relative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
        <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>
    </svg>
    <div class="container tm-pt-5 tm-pb-4">
        <div class="row text-center">
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-address-book tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Efficient reservation</h3>
                <p>Lorem Ipsum je naziv uobičajene podvrste teksta za rezervirano mjesto. Lorem Ipsum se vrlo često koristi kada recimo neki dio koji se inače treba ispuniti tekstom (koji nešto znači)  je privremeno prazan. Ipak, kako ne bi bio prazan koristi se Lorem Ipsum..</p>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-legal tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Trusted with all legal certificates</h3>
                <p>Lorem Ipsum je naziv uobičajene podvrste teksta za rezervirano mjesto. Lorem Ipsum se vrlo često koristi kada recimo neki dio koji se inače treba ispuniti tekstom (koji nešto znači)  je privremeno prazan. Ipak, kako ne bi bio prazan koristi se Lorem Ipsum.</p>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-handshake-o tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Fair deals</h3>
                <p>Lorem Ipsum je naziv uobičajene podvrste teksta za rezervirano mjesto. Lorem Ipsum se vrlo često koristi kada recimo neki dio koji se inače treba ispuniti tekstom (koji nešto znači)  je privremeno prazan. Ipak, kako ne bi bio prazan koristi se Lorem Ipsum..</p>
            </article>
        </div>
    </div>
</div>

<div class="container">
    <div class="carousel">
        <input type="radio" id="carousel-1" name="carousel[]" checked>
        <input type="radio" id="carousel-2" name="carousel[]">
        <input type="radio" id="carousel-3" name="carousel[]">
        <input type="radio" id="carousel-4" name="carousel[]">
        <input type="radio" id="carousel-5" name="carousel[]">
        <ul class="carousel__items">
            <li class="carousel__item">  <img src="~/img/split31.jpg" alt="Image" class="img-fluid"></li>
            <li class="carousel__item">  <img src="~/img/split.jpg" alt="Image" class="img-fluid"></li>
            <li class="carousel__item">  <img src="~/img/pujanke.jpg" alt="Image" class="img-fluid"></li>
            <li class="carousel__item">  <img src="~/img/split3.jpg" alt="Image" class="img-fluid"></li>
            <li class="carousel__item">  <img src="~/img/split3.jpg" alt="Image" class="img-fluid"></li>
        </ul>
        <div class="carousel__prev">
            <label for="carousel-1"></label>
            <label for="carousel-2"></label>
            <label for="carousel-3"></label>
            <label for="carousel-4"></label>
            <label for="carousel-5"></label>
        </div>
        <div class="carousel__next">
            <label for="carousel-1"></label>
            <label for="carousel-2"></label>
            <label for="carousel-3"></label>
            <label for="carousel-4"></label>
            <label for="carousel-5"></label>
        </div>
        <div class="carousel__nav">
            <label for="carousel-1"></label>
            <label for="carousel-2"></label>
            <label for="carousel-3"></label>
            <label for="carousel-4"></label>
            <label for="carousel-5"></label>
        </div>
    </div>
</div>
